<!--<div ng-controller="SidebarController as vm">
    <div class="logo">
      <a href="#/"><img src="src/client/images/logo.png" alt="" /></a>
    </div>
  <nav>
    <ul>
      <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
        <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
      </li>
      <div class="clearfix"> </div>
    </ul>
      <a href="" class="right_bt" id="pull"><span> </span> </a>
      </nav>

  <script type="text/javascript">
  $(function() {
     var pull = $('#pull');
     menu = $('nav ul');
     menuHeight = menu.height();

     $(pull).on('click', function(e) {
         e.preventDefault();
         menu.slideToggle();
     });
 });

 $(window).resize(function(){
     var w = $(window).width();
     if(w > 320 && menu.is(':hidden')) {
         menu.removeAttr('style');
     }
 });
</script>
</div>->
<!-- Header-->

<div >

    <div class="header-top" id="home">
      <div class="container">
        <div class="head">
          <div class="header-left">
            <div class="logo">
              <a href="#/"><img src="src/client/images/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="header-right">
            <p>+11 235 813 2134</p>
          </div>
          <div class="clearfix"> </div>
          <div class="top-nav">
                <nav>
                <ul ng-controller="SidebarController as vm">
                  <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
                    <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
                  </li>
                  <li ng-hide="vm.authData" ng-click="vm.openModal()"><a><i class="fa fa-sign-in"></i> Sign in</a></li>
                  <li ng-click="vm.singin('facebook')" ng-hide="vm.authData" class="login">
                    <a class="btn btn-block btn-social-icon btn-facebook">
                      <span class="fa fa-facebook"></span>
                    </a>
                  </li>
                  <li ng-click="vm.singin('twitter')" ng-hide="vm.authData" class="login">
                    <a class="btn btn-social-icon btn-twitter">
                <span class="fa fa-twitter"></span>
                </a>
                </li>
                  <div class="clearfix"> </div>
                </ul>
                  <a href="" class="right_bt" id="pull"><span> </span> </a>
                  </nav>

              <script type="text/javascript">
              $(function() {
                 var pull = $('#pull');
                 menu = $('nav ul');
                 menuHeight = menu.height();

                 $(pull).on('click', function(e) {
                     e.preventDefault();
                     menu.slideToggle();
                 });
             });

             $(window).resize(function(){
                 var w = $(window).width();
                 if(w > 320 && menu.is(':hidden')) {
                     menu.removeAttr('style');
                 }
             });
            </script>
            <!---start-click-drop-down-menu----->
                <!--start-dropdown--->
              <!--   <script type="text/javascript">
              var $ = jQuery.noConflict();
                $(function() {
                  $('#activator').click(function(){
                    $('#box').animate({'top':'0px'},900);
                  });
                  $('#boxclose').click(function(){
                  $('#box').animate({'top':'-1000px'},900);
                  });
                });
                $(document).ready(function(){
                //Hide (Collapse) the toggle containers on load
                $(".toggle_container").hide();
                //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
                $(".trigger").click(function(){
                  $(this).toggleClass("active").next().slideToggle("500");
                    return false; //Prevent the browser jump to the link anchor
                });
              });
            </script>-->
            <!---//End-click-drop-down-menu----->
            <!--top-nav-->
          </div>
          <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
              </form>
            </div>
        </div>
      </div>
    </div>

      <div id="LoginModal"></div>
    <!--//header-->
    <!--search-scripts
    <script src="frontend/assets/js/uisearch.js"></script>
    <script src="frontend/assets/js/classie.js"></script>
      <script>
        new UISearch( document.getElementById( 'sb-search' ) );
      </script>
    <!--//search-scripts-->


<!--
<nav class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-header">
<a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
<a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
</div>
<div class="navbar-collapse collapse" uib-collapse="isCollapsed">
<div class="pull-right navbar-logo">
  <ul class="nav navbar-nav pull-right">
    <li>
      <a ng-href="{{vm.navline.link}}" target="_blank">
                    {{vm.navline.text}}
                </a>
    </li>
    <li class="dropdown dropdown-big">
      <a href="http://www.angularjs.org" target="_blank">
        <img src="images/AngularJS-small.png" />
      </a>
    </li>
    <li>
      <a href="http://www.gulpjs.com/" target="_blank">
        <img src="images/gulp-tiny.png" />
      </a>
    </li>
  </ul>
</div>
</div>
</nav>
