<link rel="stylesheet" href="src/client/styles/signup_view/signup.css" />
    <!-- <div class="row"> -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="login-box well" >
                <form id="modal_form" name="modal_form" ng-show="!vm.showRecovery">
                    <legend>{{'LOGIN' | translate}}</legend>
                    <div class="form-group">
                        <label for="useremail">E-mail</label>
                        <input required ng-model="vm.userEmail" value="" id="useremail" name="useremail" placeholder="E-mail"  type="email" class="form-control" maxlength="100"
                        ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"/>
                        <span class="error_input" ng-show="modal_form.useremail.$error.required && (modal_form.useremail.$dirty || modal_form.useremail.$touched)">{{'ERROR-1-LOGIN' | translate}}</span>
                        <span class="error_input" ng-show="modal_form.useremail.$error.email">{{'ERROR-2-LOGIN' | translate}}</span>
                    </div>
                    <div class="form-group">
                        <label for="password">{{'LABEL-LOGIN' | translate}}</label>
                        <input required ng-pattern="/^.{6,12}$/" ng-model="vm.password" id="password" name="password" value='' placeholder="{{'PLACEHOLDER-LOGIN' | translate}}" type="password" class="form-control" maxlength="100"/>
                        <span class="error_input" ng-show="modal_form.password.$error.required && (modal_form.password.$dirty || modal_form.password.$touched)">{{'ERROR-1-LOGIN' | translate}}</span>
                        <span class="error_input" ng-show="modal_form.password.$error.pattern">{{'ERROR-3-LOGIN' | translate}}</span>
                    </div>
                    <div class="input-group">
                      <div class="checkbox">
                        <label>
                          <input id="login-remember" type="checkbox" name="remember" value="1">{{'REMEMBER' | translate}}
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" ng-click="vm.login()" class="btn btn-default btn-login-submit btn-block m-t-md" value="{{'LOGIN-BUTTON-MODAL' | translate}}"
                        ng-show="modal_form.useremail.$valid && modal_form.password.$valid"/>
                    </div>
                    <span class="text-center">
                      <!--<a href="/resetting/request" class="text-sm">{{'FORGET' | translate}}</a>-->
                      <a href="#" ng-click="vm.recovery()" class="text-sm">{{'FORGET' | translate}}</a>
                    </span>
                    <br>
                    <br>
                    <div class="form-group">
                        <a ng-click="vm.close()" href="/signup" class="btn btn-default btn-block m-t-md">{{'NEW' | translate}}</a>
                    </div>
                </form>
                <form id="modal_recovery" name="vm.modal_recovery" ng-show="vm.showRecovery">
                    <legend>{{'RECOVERY' | translate}}</legend>
                    <div class="form-group">
                        <label for="recoveryEmail">E-mail</label>
                        <input required ng-model="vm.recoveryEmail" value="" id="recoveryEmail" name="recoveryEmail" placeholder="E-mail" type="email" class="form-control" maxlength="100"
                            ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"/>
                        <span class="error_input" ng-show="vm.modal_recovery.recoveryEmail.$error.required && (vm.modal_recovery.recoveryEmail.$dirty || vm.modal_recovery.recoveryEmail.$touched)">{{'ERROR-1-LOGIN' | translate}}</span>
                        <span class="error_input" ng-show="vm.modal_recovery.recoveryEmail.$error.email">{{'ERROR-2-LOGIN' | translate}}</span>
                    </div>
                    <div class="form-group">
                        <input type="submit" ng-click="vm.sendRecovery()" class="btn btn-default btn-login-submit btn-block m-t-md" value="{{'RECOVERY-BUTTON-MODAL' | translate}}"
                            ng-show="vm.modal_recovery.recoveryEmail.$valid"/>
                    </div>
                    <div class="form-group">
                        <span class="vm.class" ng-show="vm.modal_recovery.recoveryEmail.$error.email">vm.message</span>
                    </div>
                </form>
            </div>
        </div>
        <!--<div class="col-md-6">
            <div class="login-box well" >


            </div>
        </div>-->
        <div class="col-md-3"></div>
    <!-- </div> -->
