<section class="mainbar">
    <section class="matter">
        <!--<div class="container">-->
        <select ng-model="selectedCities" ng-options="city.ciudad for city in vm.cities track by city.ciudad" ng-change="getCityMap()"></select>
        <!-- -->

        <div class="mapa">
            <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
                <!--<ui-gmap-marker idkey="vm.marker.id" coords="vm.marker.coords"></ui-gmap-marker>-->
                <ui-gmap-markers models="vm.markers" coords="'self'" icon="'icon'"></ui-gmap-markers>

            </ui-gmap-google-map>
        </div>
        <!--  <table>
                <tr ng-repeat="camtourist in vm.camtourists">
                    <td>{{camtourist.id}}</td>
                    <td>{{camtourist.ciudad}}</td>
                    <td>{{camtourist.provincia}}</td>
                    <td>{{camtourist.pais}}</td>
                </tr>
            </table>-->
        <div class="camtourist">
            <div class="camtourist" ng-repeat="camtourist in vm.camtourists track by camtourist.id">
                <div class="punto_interes">{{camtourist.punto_interes}}</div>
                <div class="ciudad">
                    Ciudad:
                    {{camtourist.ciudad}}</div>
                <div class="pais">
                    Pais:
                    {{camtourist.pais}}</div>
                <div class="details">{{camtourist.descripcion}}</div>
            </div>
        </div>
    </section>
</section>
