<section class="mainbar">
    <section class="matter">
        <label>Selecciona una ciudad: </label>
        <select ng-model="selectedCities" ng-options="city.ciudad for city in vm.cities track by city.ciudad" ng-change="getCityMap()"></select>
        <label>Hay {{vm.markers.length}} camtourists </label>
        <br>
        <br>
        <div class="mapa">
            <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
                <ui-gmap-markers models="vm.markers" coords="'self'" icon="'icon'" events="vm.map.markersEvents">
                    <ui-gmap-window show="vm.map.windows.show" coords="vm.map.windows.model" closeClick="vm.map.windows.closeClick" isIconVisibleOnClick="false">
                        <div>
                            <img src="{{vm.infoWindow.imagen}}" width="50px;"/>
                            <p>{{vm.infoWindow.punto_interes}}</p>
                            <p>{{vm.infoWindow.ciudad}}</p>
                        </div>
                    </ui-gmap-window>
                </ui-gmap-markers>
            </ui-gmap-google-map>

            <br>
        </div>
        <div class="camtourist">
            <div class="camtourist camtouristInt" ng-repeat="camtourist in vm.camtourists track by camtourist.id">
                <div class="punto_interes">{{camtourist.punto_interes}}</div>
                <div class="ciudad">
                    Ciudad:
                    {{camtourist.ciudad}}</div>
                <div class="pais">
                    Pais:
                    {{camtourist.pais}}</div>
                <div class="details">{{camtourist.descripcion}}</div>
            </div>
        </div>
        <div class="camtourist">
          <div class="camtourist camtouristInt" ng-repeat="(key, value) in vm.camtouristsByCity track by key">
              <div class="ciudad">
                  Ciudad:
                  {{key}}
                   - Nº de Camtourist:
                  {{value}}
              </div>
          </div>
        </div>
