body {}

.gallery {
    width: 700px;
    margin: 40px auto;
}

#matter {
    background: #959796 url(../images/wood_bg.jpg);
}

.gallery figure {
    float: left;
    padding: 10px 10px 25px 10px;
    margin: 0 10px 10px 0;
    background: #eee;
    border: 1px solid #fff;
    position: relative;
    -moz-box-shadow: 0px 2px 15px #333;
    -webkit-box-shadow: 0px 2px 15px #333;
    box-shadow: 0px 2px 15px #333;
}

.gallery figure.pic-1 {
    margin: 0;
    z-index: 1;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}

.gallery figure.pic-2 {
    z-index: 5;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.gallery figure.pic-3 {
    z-index: 3;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}

.gallery figure.pic-4 {
    z-index: 4;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

figcaption {
    text-align: center;
}

.gallery figure:hover {
    z-index: 10;
    -moz-box-shadow: 3px 5px 15px #333;
    box-shadow: 3px 5px 15px #000;
}

.paginador {
    margin-top: 60px;
}