  @media print
   {
      .header-top, .mapa, .footer, label, select{
        display: none;
      }

      .camtourist{
      border-right-color: #FFFFFF;
      border-top-color: #FFFFFF;
      border-left-color: #FFFFFF;
      border-bottom-color: #212121;
      border-width: thick;
      }

   }
