<link rel="stylesheet" href="src/client/styles/signup_view/signup.css" />
    <!-- <div class="row"> -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="login-box well" >
                <form id="modal_user_form" name="modal_user_form">
                    <legend>{{'USER' | translate}}</legend>
                    <div class="form-group">
                        <label>{{'USER_NAME' | translate}}</label>
                        <input ng-readonly="vm.userReadOnly" ng-model="vm.userNameModal" type="input" id="userNameModal" name="userNameModal" placeholder="{{'USER_NAME' | translate}}" class="form_inputs" maxlength="100" ng-pattern="/^[A-Za-z]{2,30}$/i" ng-change="editarUsuario()">
                        <span class="error_input" ng-show="modal_user_form.userNameModal.$dirty || modal_user_form.userNameModal.$touched">{{'ERROR-1-PROFILE' | translate}}</span>
                        <span class="error_input" ng-show="modal_user_form.userNameModal.$error.pattern">{{'ERROR-4-PROFILE' | translate}}</span>
                    </div>

                    <div class="form-group">
                        <label>{{'USER_LAST_NAME' | translate}}</label>
                        <input ng-readonly="vm.userReadOnly" ng-model="vm.userLastNameModal" type="input" id="userLastNameModal" name="userLastNameModal" placeholder="{{'USER_LAST_NAME' | translate}}" class="form_inputs" maxlength="100" ng-pattern="/^[A-Za-z]{2,30}$/i" ng-change="editarUsuario()">
                        <span class="error_input" ng-show="modal_user_form.userLastNameModal.$dirty || modal_user_form.userLastNameModal.$touched">{{'ERROR-1-PROFILE' | translate}}</span>
                        <span class="error_input" ng-show="modal_user_form.userLastNameModal.$error.pattern">{{'ERROR-4-PROFILE' | translate}}</span>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input ng-readonly="vm.userReadOnly" ng-model="vm.userEmailModal" type="email" id="userEmailModal" name="userEmailModal" placeholder="Email" class="form_inputs" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" ng-change="editarUsuario()">
                        <span class="error_input" ng-show="modal_user_form.userEmailModal.$dirty || modal_user_form.userEmailModal.$touched">{{'ERROR-1-PROFILE' | translate}}</span>
                        <span class="error_input" ng-show="modal_user_form.userEmailModal.$error.email">{{'ERROR-2-PROFILE' | translate}}</span>
                    </div>

                    <div class="form-group">
                        <label>{{'USER_TYPE' | translate}}</label>
                        <input ng-readonly="vm.userReadOnly" ng-model="vm.userTypeModal" type="input" id="userTypeModal" name="userTypeModal" placeholder="{{'USER_TYPE' | translate}}" class="form_inputs" maxlength="100" ng-pattern="/^[A-Za-z]{2,30}$/i" ng-change="editarUsuario()">
                        <span class="error_input" ng-show="modal_user_form.userTypeModal.$dirty || modal_user_form.userTypeModal.$touched">{{'ERROR-1-PROFILE' | translate}}</span>
                        <span class="error_input" ng-show="modal_user_form.userTypeModal.$error.pattern">{{'ERROR-4-PROFILE' | translate}}</span>
                    </div>

                    <hr>

                    <div class="form-group" ng-show="vm.userReadOnly == false">
                        <button type="Submit" class="btn btn-primary btn-lg centrado" ng-click="vm.guardarUsuario()">{{'USER_MODAL_BUTTON' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
